<div class="container">
  <ul class="nav text-align">
    <button type="button" class="badge bg-secondary" routerLink="../">
      <i class="fas fa-arrow-left"></i>
    </button>
    <li class="item my-3">
      <a class="textcolor" (click)="filter('Men')">Men</a>
    </li>
    <li class="item my-3">
      <a class="textcolor" (click)="filter('Women')">Women</a>
    </li>
    <li class="item my-3">
      <a class="textcolor" (click)="filter('Kids')">Kids</a>
    </li>
  </ul>
</div>
<div class="filterList">
  <div class="whole">
    <div class="container">
      <div class="row">
        <ng-container *ngFor="let collect of collectionList">
          <div class="card col-md-3">
            <img src="{{ collect.image }}" alt="image" />
            <h5>{{ collect.title }}</h5>
            <p><strong>Price:</strong>${{ collect.price }}</p>
            <button
              [disabled]="collect.added"
              class="btn btn-primary"
              (click)="addtoCart(collect)"
            >
              {{ collect.added ? "Added to Cart" : "Add to Cart" }}
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<button class="top" (click)="goToTop()"><i class="fas fa-arrow-up"></i></button>
