nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  font-size: 40px;
}
.card {
  padding: 20px;
  margin: 40px;
}

.card img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}
.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(0.3);
}

.whole {
  align-items: center;
  margin-left: 5%;
}
img {
  padding-left: 22%;
}
.filterList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li {
  list-style: none;
}
.filters {
  border-right: 1px solid rgb(172, 163, 163);
}
.item {
  margin: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
}
.textcolor {
  text-decoration: none;
}
.textcolor:hover {
  color: coral;
}

.badge {
  border-radius: 100%;
  border-style: none;
}
