
 


<nav>
   <ul class="nav text-align">
      <li class="item my-3">Men</li>
   </ul>
</nav>



<div class="whole">
<div class="container">
   <div class="row">
      <ng-container *ngFor="let detail of details">
         <div class="card col-md-3">
            <img src="{{detail.image}}" alt="image">
            <h5 >{{detail.title}}</h5>
            <p><strong>Price:</strong>${{detail.price}}</p>
            <button class="btn btn-primary " (click)="addToCart(detail)">Add to cart</button>
         </div>
      </ng-container>
      
   </div>
</div>
</div>