.container{
    border:2px solid;
    background-image:"https://img.freepik.com/premium-photo/white-watercolor-papar-texture-background-cover-card-design-overlay-aon-paint-art-background_1962-2207.jpg?size=626&ext=jpg&ga=GA1.2.1526189017.1672979543";
    border-style: none;
}
.alignment{
    padding:30px
}