

<!-- <div class="navbar bg-primary  navbar-fixed-top navbar card-bordered sticky-top navbar-expand-lg ">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size:20px"class="fas fa-shoe-prints" (click)="move()">&nbsp;
        <strong style="font-size:30px">Shoe Mart</strong>
      </i>
    <div class="form-group">
      <input type="text" placeholder="Search Products" class="form-control">
    </div>
    <span class="fas fa-search search-icon"></span>
    </div>
    <div class="name">
    <ul class="nav ">
      <li class="align" ><a class="text-white" routerLink='/login'>Login</a></li>
      <li class="align"><a class="text-white" routerLink='/signUp'>Sign-up</a></li>
    </ul>
  </div>
  <div>
    <h2>Hello,</h2>
  </div>
    <button class="btn btn-primary">
      <i style="font-size:20px" class="fas fa-cart-plus" routerLink="/cart"></i>
      <div style="font-size:10px" class="badge bg-success">{{totalItem}}</div>
    </button>
  </div>
  <div class="container ">
    <ul class="nav text-align">
      <li class="item my-3"><a class="textcolor"routerLink="/men" >Men</a></li>
      <li class="item my-3"><a class="textcolor" routerLink="/women">women</a></li>
      <li class="item my-3"><a class="textcolor" routerLink="/kids">Kids</a></li>
    </ul>
  </div>
  <hr>-->

  <nav>
    <div class="container">
      <div class="row">
        <div class="col md-3 col-sm-3 col-3">
          <i style="font-size:20px"class="fas fa-shoe-prints" (click)="move()">
            <strong style="font-size:30px">ShoeMart</strong>
          </i>
        </div>
        <div class="col md-9 col-sm-9 col-9 text-end">
          <div class="menu">
            <ul>
              <li><a class="textcolor"routerLink="/login" >Login</a></li>
              <li><a class="textcolor" routerLink="/signUp">Sign-up</a></li>
              </ul>
              <button class="btn btn-primary">
                <i style="font-size:20px" class="fas fa-cart-plus" routerLink="/cart"></i>
                <div style="font-size:10px" class="badge bg-success">{{totalItem}}</div>
              </button>
          </div>
        </div>
      </div>
      </div>
  </nav>
    
  
  
  
  
  
  
  
  
  
  
  
  