<div class="main">
   <nav>
    <div class="container">
      <div class="row">
        <div class="col md-3 col-sm-3 col-3">
          <i style="font-size:20px;color:white"class="fas fa-shoe-prints" (click)="move()">
            <strong style="font-size:30px;color:white">ShoeMart</strong>
          </i>
         
        </div>
        <div class="col md-6 col-sm-6 col-6 text-end">
          <div class="menu_icon" (click)="showMenu()">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="menu" [class.menuClass]="variable">
            <ul>
              <li *ngIf="!loginService.getUser()"><a class="text-white"routerLink="/login"  >Login</a></li>
              <li *ngIf="loginService.getUser()"><a class="text-white"routerLink="/login"(click)="loginService.logout()">LogOut</a></li> 
              <li *ngIf="!loginService.getUser()"><a class="text-white" routerLink="/signUp">Sign-up</a></li>
               <li *ngIf="loginService.getUser()"class="text-white">Welcome,{{loginService.userName}}</li> 
              
              </ul>
          </div>
        </div>
        <div class="col md-3 col-sm-3 col-3 text-end">
          <button class="btn btn-primary">
            <i style="font-size:25px" class="fas fa-cart-plus" routerLink="/cart"></i>
            <div  *ngIf="loginService.getUser()" style="font-size:10px" class="badge bg-success">{{totalItem?.length}}</div>
          </button>
        </div>
      </div>
     </div>
   </nav>
  </div>
 <br>
 <br>
 <br>
  <!-- <div class="container ">
    <ul class="nav text-align">
       <li class="item my-3"><a class="textcolor"routerLink="/allProduct" >All Products</a></li> 
      <li class="item my-3"><a class="textcolor"(click)="filter('Men')" >Men</a></li>
      <li class="item my-3"><a class="textcolor" routerLink="/allProduct">women</a></li>
      <li class="item my-3"><a class="textcolor" routerLink="/allProducts">Kids</a></li>
      
    </ul>
  </div>
  <hr>  -->

    
  
  
  
  
  
  
  
  
  
  
  
  