<nav>
    <ul class="nav text-align">
       <li class="item my-3">Kids</li>
    </ul>
 </nav>
 <div class="filterList">
 <div class="filters">
   <p><b>Brand</b></p>
   <ul style="width:200px">
      <input type="checkbox">&nbsp;
      <span>Alden Shoes</span><br>
      <input type="checkbox">&nbsp;
      <span>Johnston Murphy</span><br>
      <input type="checkbox">&nbsp;
      <span>Mezlan</span>
   </ul>
   <hr>
   <p><b>Color</b></p>
   <ul style="width:200px">
      <input type="checkbox">&nbsp;
      <span>Black</span><br>
      <input type="checkbox">&nbsp;
      <span>Brown</span>
   </ul>
   <hr>
   <p><b>Prices</b></p>
   <ul style="width:200px">
      <input type="checkbox">&nbsp;
      <span>Above 100</span><br>
      <input type="checkbox">&nbsp;
      <span>Above 200</span><br>

   </ul>
   <hr>
 </div>
 
 <div class="whole">
    <div class="continer">
       <div class="row">
          <ng-container *ngFor="let collect of collection">
             <div class="card col-md-3">
                <img src="{{collect.image}}" alt="image">
                <h5 >{{collect.title}}</h5>
                <p><strong>Price:</strong>${{collect.price}}</p>
                <button class="btn btn-primary"(click)="addtoCart(collect)" [disabled]="commonService.checkProductInCart(collect)">Add  cart</button>
             </div>
          </ng-container>
          
       </div>
    </div>
    </div>
   </div>
