a:link{
    text-decoration: none;
}
.text-large{
    font-size:20px
}
.bg{
    background-color: darkgray;
    border-radius: 10px;
}
.text{
    color:blueviolet
}
.border{
    border:2px solid black
}


