
<ng-container *ngIf="product.length !=0">
   <div class="container">
    <div class="card-table">
        <div class="cart">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Title</th>
                        <th>Item Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead >
                <tbody>
                    <tr  *ngFor="let products of product; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{products.title}}</td>
                    <td><img style="width: 120px;"src="{{products.image}}" alt="Image"></td>
                    <td style="width:25%">{{products.description}}</td>
                    <td style="width:12%">{{products.price}}</td>
                    <td style="width:12%">{{products.Quantity}}</td>
                    <td style="width:12%">{{products.Total}}</td>
                    <td>
                        <button class="btn "><i class="fas fa-trash" (click)="removeProduct(products)"></i>Delete</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td ><button class="btn btn-dark"(click)="emptyCart()">Empty Cart</button></td>
                    <td ><button class="btn btn-success">Checkout</button></td>
                    <td><b>Grand Total: ${{grandTotal}}</b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div>
        <button class="btn btn-dark my-4 align"(click)="emptyCart()">EmptyCart</button>
    </div> -->
   </div>
</ng-container>


<ng-container *ngIf="product.length ==0">
    <div class="container">
        <div class="card">
            <h4 class="card-title">My cart</h4>
        </div>
        <div class="center">
            <img src="" alt="">
            <h3 style="color:rgb(174, 166, 166)">Your cart is empty!!</h3>
            <h4 style="color:rgb(177, 171, 171)">Add item to it now</h4>
            <button class="btn btn-dark" routerLink="/home">Shop now</button>
        </div>
    </div>
    
</ng-container>