
<div class="navbar bg-primary  navbar-fixed-top navbar card-bordered sticky-top navbar-expand-lg ">
  <div class="navbar-brand align-item-center d-flex">
    <i style="font-size:20px"class="fas fa-shoe-prints" (click)="move()">&nbsp;
      <strong style="font-size:30px">Shoe Mart</strong>
    </i>
  <div class="form-group">
    <input type="text" placeholder="Search Products" class="form-control">
  </div>
  <span class="fas fa-search search-icon"></span>
  </div>
  <div class="name">
  <ul class="nav ">
    <li class="align" ><a class="text-white" routerLink='/login'>Login</a></li>
    <li class="align"><a class="text-white" routerLink='/signUp'>Sign-up</a></li>
  </ul>
</div>
  <button class="btn btn-primary">
    <i style="font-size:20px" class="fas fa-cart-plus"></i>
    <div style="font-size:10px" class="badge bg-success">0</div>
  </button>
</div>
<div class="container ">
  <ul class="nav text-align">
    <li class="item my-3"><a class="textcolor"routerLink="/men" >Men</a></li>
    <li class="item my-3"><a class="textcolor" routerLink="/women">women</a></li>
    <li class="item my-3"><a class="textcolor" routerLink="/kids">Kids</a></li>
  </ul>
</div>
<hr>






<!-- <nav class="navbar bg-primary">
  <div class="container">
    <div class="navbar-header">
      <i  style="font-size: 20px" class="fas fa-shoe-prints"></i>&nbsp;&nbsp;
      <strong style="font-size:30px; font-family:Helvetica Neue">Online Shoe Mart</strong>
    </div>
  <div class="form-group">
   <input type="text" class="form-control" placeholder="search products">
  </div>
  <span class="fas fa-search search-icon"></span>
  <ul class="nav ">
    <li class="align" ><a class="text-white" routerLink='/login'>Login</a></li>
    <li class="align"><a class="text-white" routerLink='/signUp'>Sign-up</a></li>
  </ul>
 </div>
 <div>
  <button class="btn btn-primary">
    <i class= " fas fa-bag-shopping"></i>
  </button>
 </div>
</nav> -->


<router-outlet></router-outlet>








