<form class="container p-4 my-3 border col-xs-6 col-md-4 bg" [formGroup]="registerForm" (ngSubmit)="registerDetails()" >
    <div class="text-dark">
        <h1>Register</h1>
    </div>
    <div class="form-group my-3 ">
        <label>Firstname</label>
    <input  class="form-control "type="text" name="firstName" [class.is-invalid]="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched  " formControlName="firstName" >
</div>

  <div class="error" *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched ">
   <small *ngIf="registerForm.get('firstName')?.errors?.['required']"class="text-danger">First name is required</small>  
</div> 

<div class="form-group my-3">
        <label>Lastname</label>
         <input  class="form-control "type="text"name="lastName" [class.is-invalid]=" registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched" formControlName="lastName" >
    </div>
    
    <div class="error" *ngIf=" registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched ">
     <small *ngIf="registerForm.get('lastName')?.errors?.['required']"class="text-danger">Lastname is required</small>  
  </div> 
  <div class="form-group ">
    <label>Email address</label>
    <input  class="form-control "type="email"  name="email" [class.is-invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" formControlName="email" >
</div>

  <div class="error" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
   <small *ngIf="registerForm.get('email')?.errors?.['required']"class="text-danger">Email address is required</small> 
   <small *ngIf="registerForm.get('email')?.errors?.['email']" class="text-danger">Enter email in correct format</small> 
</div>
   <div class="form-group my-3">
      <label>Password</label>
      <input class="form-control" type="Password" formControlName="password" [class.is-invalid]=" registerForm.get('password')?.invalid && registerForm.get('password')?.touched ">
    </div>
    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
      <small *ngIf="registerForm.get('password')?.errors?.['required']"class="text-danger">Password is required</small>
      <small *ngIf="registerForm.get('password')?.errors?.['maxlength']"class="text-danger">Maximum characters are 15</small>  
      <small *ngIf="registerForm.get('password')?.errors?.['minlength']"class="text-danger">Password need to have atleast 5 characters</small>  
      <!-- <small *ngIf="registerForm.get('password')?.errors?.['misMatch']"class="text-danger">Password and confirmPassword want to be same</small>  
      -->  </div> 
    <div class="form-group my-3">
        <label>Confirm Password</label>
        <input class="form-control" type="Password" formControlName="confirmPassword" [class.is-invalid]="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
    </div>
    <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
        <small *ngIf="registerForm.get('confirmPassword')?.errors?.['required']"class="text-danger">Password is required</small>
        <!-- <small *ngIf="registerForm.get('confirmPassword')?.errors?.['maxlength']"class="text-danger">Maximum characters are 15</small>  
        <small *ngIf="registerForm.get('confirmPassword')?.errors?.['minlength']"class="text-danger">Password need to have atleast 5 characters</small>   -->
        <small *ngIf="registerForm.get('confirmPassword')?.errors?.['misMatch']"class="text-danger">Password and confirmPassword want to be same</small>  
        
      
      </div>
      
       <div class="formGroup my-3">
            <label>State</label>
            <input type="text" class="form-control" formControlName="state" [class.is-invalid]="registerForm.get('state')?.invalid && registerForm.get('state')?.touched"  >
               </div>
               <div class="error" *ngIf="registerForm.get('state')?.invalid && registerForm.get('state')?.touched ">
                <small *ngIf="registerForm.get('state')?.errors?.['required']"class="text-danger">state is required</small>  
             </div> 
        <div class="formGroup my-3">
            <label>City</label>
            <input type="text" class="form-control" formControlName="city" [class.is-invalid]="registerForm.get('state')?.invalid && registerForm.get('state')?.touched" >
         </div>
        <div class="error" *ngIf="registerForm.get('city')?.invalid && registerForm.get('city')?.touched ">
            <small *ngIf="registerForm.get('city')?.errors?.['required']"class="text-danger">City is required</small>  
         </div> 
        <div class="formGroup my-3">
            <label>PostalCode</label>
            <input type="tel" class="form-control" formControlName="postalCode" >
        </div>
        <div class="error" *ngIf="registerForm.get('postalCode')?.invalid && registerForm.get('postalCode')?.touched ">
            <small *ngIf="registerForm.get('postalCode')?.errors?.['required']"class="text-danger">Postal Code is required</small>  
         </div> 
        <div class="my-3 text-align">
            <button type="submit" class="btn btn-primary"[disabled]="!registerForm.valid" >Register</button>
        </div>
        
        
</form>