
h1{
   color:rgb(93, 88, 88);
}
.card-img-top{
   width:50%;  
}
h2{
   text-align: center;
   padding:10%;
   font-style:oblique;
   font-family: Georgia, Times, 'Times New Roman', serif;
}
.card{
      padding:20px;
      margin:40px;
      cursor: pointer;
   }

.carousel{
   display: flex;
   justify-content: center;
   padding-left: 5%;
   
}
.price{
   padding:14px;
}
.dollar{
   padding:18px;
}
.card-title{
   font-family:  'Lucida Sans Unicode', sans-serif;
}
h4{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 20px;
}
@media only screen and (max-width: 552px) {
   
}