 @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";  

  .blue-snackbar {
    background: rgb(90, 182, 90);
    color: black;
  }
  .red-snackbar{
    background:rgb(224, 68, 68);
    color: black;
  }