/* You can add global styles to this file, and also import other style files */
.image{
    height:40em;
    background-size: cover;
    width:auto;
    background-image: url('/assets/bkdimg.webp');
    background-position: 50% 50%;
}