/* You can add global styles to this file, and also import other style files */
/* .image{
    height:50em;
    background-size: cover;
    width:auto;
    background-color:cyan;
    background-position: 50% 50%;
} */