/* .item{
    margin:20px;
   padding-right:20px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic; 
    
} */

 /* .text-align{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
 }

 a:link{
    text-decoration:none;
 }

 .align-item{
   height:500px;
   width:800px;
   /* padding-left:400px; */
   
 /* }
.carousel-inner{
  
   height:550px;
  
   
   
}
.align{
   height:500px;
} */ 

h1{
   color:rgb(93, 88, 88);
}
.card-img-top{
   width:50%;  
}
h2{
   text-align: center;
   padding:10%;
   font-style:oblique;
   font-family: Georgia, Times, 'Times New Roman', serif;
}
.card{
   margin-left: 15%;
   
}

